.btn{
    margin-top: 50px;
}
.btn button{
    background-color: #0C70F2;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    width: 250px;
    height: 35px;
    cursor: pointer;
}

.btn button:hover{
    background-color: #00ABFF;
    transition-duration: 0.5;
}